<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/stylesheets/centro.css">
    <title>Document</title>
</head>
<body>
    <div id="quadroPrincipal">
        <div id="quadroMenu">
            <input id="btnDica" class="btn" type="button" value="Dica: 3">
            <input id="btnNovaPalavra" class="btn" type="button" value="Nova Palavra">
            <button id="btnVoltar" class="btn">Voltar</button>
        </div>
        <div id="quadroJogo">
            <div id="quadroForca">
                <canvas id="canvas"></canvas>
            </div>
            <div id="quadroPalavra">
                <div class="letra_da_palavra">P</div>
                <div class="letra_da_palavra">A</div>
                <div class="letra_da_palavra">L</div>
                <div class="letra_da_palavra">A</div>
                <div class="letra_da_palavra">V</div>
                <div class="letra_da_palavra">R</div>
                <div class="letra_da_palavra">A</div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/javascripts/centro.js"></script>
</body>
</html>