<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/stylesheets/centro.css">
    <title>Document</title>
</head>
<body>
    <div id="quadroPrincipal">
        <div id="quadroMenu">
            <div class="div">
                <input id="btnDica" class="btn" type="button" value="Dica: 3">
                <input id="btnNovaPalavra" class="btn" type="button" value="Nova Palavra">
                <form method="get" action="/">
                    <button id="btnVoltar" class="btn">Voltar</button>
                </form>
                <input id="valueDif" type="hidden" value=<%= value %>>
            </div>
            <div class="div">
                <input id="textChute" type="text" maxlength="1">
                <button id="btnChute" class="btnPequeno" type="button">Enviar</button>
            </div> 
        </div>
        <div id="quadroJogo">
            <div id="quadroForca">
                <canvas id="canvas"></canvas>
            </div>
            <div id="quadroPalavra">
                <input id="valuePalavra" type="hidden">
            </div>
        </div>
    </div>

    <div id="quadroErros">
        <h3>Letras erradas</h3>
        <div id="chutesErrados">    
        </div>
    </div>
    <script type="text/javascript" src="/javascripts/centro.js"></script>
</body>
</html>