<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
  
    <div id="container">
      <div id="quadroInicio">
        <p id="textNome">Forca</p>
        <input id="btnComecar" class="efeitos" type="button" value="Iniciar">
      </div>
      <div id="quadroDificuldade">
        <p id="textDificuldade">Escolha a dificuldade:</p>
        <a id="btnIniciante" class="btn_dif efeitos" href="/centro">Iniciante</a>
        <a id="btnIntermediario" class="btn_dif efeitos" href="/centro">Intermediário</a>
        <a id="btnAvancado" class="btn_dif efeitos" href="/centro">Avançado</a>
      </div>
    </div>
    

    <script type="text/javascript" src="/javascripts/index.js"></script>
  </body>
</html>
