* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.div {
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
    
}

body {
    margin-right: 80px;
}

#quadroPrincipal {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

#quadroMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

#quadroJogo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#quadroForca {
    margin-right: -200px;
}

#quadroPalavra {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 10px;
}

.letra_da_palavra {
    font-size: 30px;
    border-bottom: 2px solid #000;
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
    padding: 5px;
    margin-right: 5px;
    width: 50px; 
}

#quadroErros {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding-left: 10px;
    font-family: sans-serif;
    
}
#chutesErrados {
    display:  flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    font-size: 22px;
    width: 50%; 
    padding: 10px;
    
    
}

#chutesErrados div {
    border: 1px solid #000;
    padding: 5px;
    margin-left: 10px;
}

@media (max-width: 880px) {
    body {
        margin-right: 40px;
    }
    .letra_da_palavra {        
        width: 40px;
        height: 40px;
    }
    #quadroPalavra {
        flex-direction: column;
    }
    
}

@media (max-width: 420px) {
    body {
        margin-right: 8px;
    }
    #quadroForca {
        margin-right: -70%;   
    }
}

.btn {
    border: 3px solid #000;
    text-align: center;
    background-color: rgb(241, 241, 241);
    width: 180px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 22px;
    margin: 2px;
    margin-left: 8px;
}

#btnChute {
    border: 3px solid #000;
    text-align: center;
    background-color: rgb(241, 241, 241);
    width: 120px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 22px;
    
}

.btn:hover {
    background-color: rgb(97, 96, 96); 
    color: #fff;
  }
.btn:active {
    background-color: #000;
    color: #fff;
    border-color: rgb(97, 96, 96);
}

#btnChute:hover {
    background-color: rgb(97, 96, 96); 
    color: #fff;
  }
#btnChute:active {
    background-color: #000;
    color: #fff;
    border-color: rgb(97, 96, 96);
}

#textChute {
    padding: 5px;
    width: 120px;
    height: 60px;
    text-align: center;
    font-size: 22px;
    background-color: rgb(241, 241, 241);
    border: 2px solid #000;
}

#canvas {
    width: 550px;
    height: auto;
}