* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    padding-left: 10px;
}

#quadroPrincipal {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    
}

#quadroMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 200px;
    height: 200px;
}

#quadroJogo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#quadroForca {
    margin-right: -200px;
}

#quadroPalavra {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 10px;
}

.letra_da_palavra {
    font-size: 30px;
    border-bottom: 2px solid #000;
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
    padding: 5px;
    margin-right: 5px;
    width: 50px; 

}

@media (max-width: 750px) { 
    .letra_da_palavra {        
        width: 40px;
        height: 40px;
    }
    #quadroPalavra {
        flex-direction: column;
    }
    
}

@media (max-width: 420px) {
    #quadroForca {
        margin-right: -70%;   
    }
}



.btn {
    border: 3px solid #000;
    text-align: center;
    text-decoration: none;
    color: #000;
    background-color: rgb(241, 241, 241);
    width: 180px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 22px;
}

.btn:hover {
    background-color: rgb(97, 96, 96); 
    color: #fff;
  }
.btn:active {
    background-color: #000;
    color: #fff;
    border-color: rgb(97, 96, 96);
  }

#canvas {
    width: 550px;
    height: auto;
}